*.DS_Store
/TransactionHistory/*
/CSV Outputs/*
./HistoryData/*
/CoinGeckoHistoryData/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDE
.idea
HistoryData/0x0ab43550a6915f9f67d0c454c2e90385e6497eaa.json
HistoryData/0x0dc78c79b4eb080ead5c1d16559225a46b580694.json
HistoryData/0x0dd740db89b9fda3baadf7396ddad702b6e8d6f5.json
HistoryData/0x1e05c8b69e4128949fcef16811a819ef2f55d33e.json
HistoryData/0x2bfa122427085e0d1993cccf1f74a4c915908f7b.json
HistoryData/0x3c2b8be99c50593081eaa2a724f0b8285f5aba8f.json
HistoryData/0x7b9c523d59aefd362247bd5601a89722e3774dd2.json
HistoryData/0x08cb2917245bbe75c8c9c6dc4a7b3765dae02b31.json
HistoryData/0x8d760497554eecc3b9036fb0364156ef2f0d02bc.json
HistoryData/0x22d62b19b7039333ad773b7185bb61294f3adc19.json
HistoryData/0x24ea0d436d3c2602fbfefbe6a16bbc304c963d04.json
HistoryData/0x39ab439897380ed10558666c4377facb0322ad48.json
HistoryData/0x44ced87b9f1492bf2dcf5c16004832569f7f6cba.json
HistoryData/0x72cb10c6bfa5624dd07ef608027e366bd690048f.json
HistoryData/0x90d81749da8867962c760414c1c25ec926e889b6.json
HistoryData/0x95ce547d730519a90def30d647f37d9e5359b6ae.json
HistoryData/0x224e64ec1bdce3870a6a6c777edd450454068fec.json
HistoryData/0x892d81221484f690c0a97d3dd18b9144a3ecdfb7.json
HistoryData/0x3095c7557bcb296ccc6e363de01b760ba031f2d9.json
HistoryData/0x6008c8769bfacd92251ba838382e7e5637c7e74d.json
HistoryData/0x6983d1e6def3690c4d616b13597a09e6193ea013.json
HistoryData/0x218532a12a389a4a92fc0c5fb22901d1c19198aa.json
HistoryData/0x301259f392b551ca8c592c9f676fcd2f9a0a84c5.json
HistoryData/0x582617bd8ca80d22d4432e63fda52d74dcdcee4c.json
HistoryData/0x985458e523db3d53125813ed68c274899e9dfab4.json
HistoryData/0xa0dc05f84a27fccbd341305839019ab86576bc07.json
HistoryData/0xb1f6e61e1e113625593a22fa6aa94f8052bc39e0.json
HistoryData/0xb8e0497018c991e86311b64efd9d57b06aedbbae.json
HistoryData/0xb12c13e66ade1f72f71834f2fc5082db8c091358.json
HistoryData/0xbec775cb42abfa4288de81f387a9b1a3c4bc552a.json
HistoryData/0xcf323aad9e522b93f11c352caa519ad0e14eb40f.json
HistoryData/0xcf1709ad76a79d5a60210f23e81ce2460542a836.json
HistoryData/0xcf664087a5bb0237a0bad6742852ec6c8d69a27a.json
HistoryData/0xda73f5c25c0d644afd20da5535558956b192b262.json
HistoryData/0xdc5f76104d0b8d2bf2c2bbe06cdfe17004e9010f.json
HistoryData/0xe064a68994e9380250cfee3e8c0e2ac5c0924548.json
HistoryData/0xe176ebe47d621b984a73036b9da5d834411ef734.json
HistoryData/0xea589e93ff18b1a1f1e9bac7ef3e86ab62addc79.json
HistoryData/0xef977d2f931c1978db5f6747666fa1eacb0d0339.json
HistoryData/0xfbdd194376de19a88118e84e279b977f165d01b8.json
